/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
Text{
	-fx-stroke-width: 1.5px;
	-fx-fill: transparent;
	-fx-stroke: black;
	-fx-font: 25px "Serif"
}